.allCoins {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	gap: 3px;
	row-gap: 5px;
	width: 230px;
	max-height: 235px;
	overflow: auto;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 180px;
	left: 100px;
	margin: auto;
}

.allCoins::-webkit-scrollbar {
	width: 0px;
}

.coin {
	position: relative;
	width: 105px;
	height: 75px;
	align-items: center;
	padding: 10px 10px 0 10px;
	border-radius: 10px;
	border: 1px solid #fff;
	background-color: rgba(65, 65, 65, 0.308);
	border: 1px solid rgba(255, 255, 255, 0.222);
	transition: all ease 0.3s;
}

.coin:hover {
	box-shadow: 0px 0px 20px 1px #ffbb763f;
	border: 1px solid rgba(255, 255, 255, 0.454);
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: start;
	margin-bottom: 4px;
}

.img {
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.name {
	font-size: 14px;
	font-weight: 500;
	text-align: start;
}

.btn {
	padding: 4px 8px;
	border: 1px solid #2c2c2c;
	background-color: #1a1a1a;
	color: #ffffff;
	font-size: 10px;
	border-radius: 12px;
	transition: all 0.4s ease;
	outline: none;
	font-weight: bold;
	cursor: pointer;
}

.btn:hover {
	border-color: #666666;
	background: #292929;
}