@import './reset.scss';
@import './variables/global.scss';

#root {
	width: 250px;
	height: 375px;
	transition: all ease 0.3s;
	border: 1px solid rgba(255, 255, 255, 0.222);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background: var(--bg-color);
	color: var(--primary-color);
}

.container {
	margin: 0 10px 15px;
}