@import './reset.scss';
@import './variables/global.scss';

#root {
	width: 250px;
	height: 375px;
	transition: all ease 0.3s;
	border: 1px solid rgba(255, 255, 255, 0.222);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background: var(--bg-color);
	color: var(--primary-color);
	user-select: none;
}

.container {
	margin: 0 10px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	position: fixed;
	bottom: 2px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.developed{
	color: var(--secondary-color);
}

.input-wrapper {
	text-align: center;
}

.input {
	margin-bottom: 10px;
	padding: 2px 10px;
	outline: none;
	border-radius: 6px;
	border: 1px solid #707070;
	background: transparent;
	color: #fff;

	&:focus-visible {
		box-shadow: 0 0 0 3px color-mix(in srgb, #707070 50%, transparent);
	}
}